<div class="ova-content-header">
    <div class="esap-logo"></div>
    <!-- <div class="unit-title">
                    <h1>UNIDAD</h1>
                    <h2>DIDÁCTICA {{ova-unit}}</h2>
                </div>
                <div class="unit-abbrev-title">
                    <h1>{{ova-unit-abbrev}}</h1>
                </div> -->
    <div class="main-info">
        <div class="unit-info animated fadeInUp" title="Título del curso">
            <h2>
                <b>{{courseTitle}}</b>
            </h2>
        </div>
        <div class="ova-title animated fadeInUp" title="Título de la unidad">
            <h2>{{ovaTitle}}</h2>
        </div>
    </div>
    <div class="secondary-info">
        <div class="learned-concepts" title="Conceptos obtenidos">
            <div class="star animated flip"></div>
        </div>
        <div class="glossary hoverable" title="Ver conceptos">
            <div class="icon">
                <i class="fa fa-book"></i>
            </div>
            <div class="arrow"></div>
        </div>
        <div class="pdf disabled" title="PDF de la unidad">
            <a _href="img/PDF.pdf" target="_blank">
                <div class="icon">
                    <i class="fa fa-file-pdf-o"></i>
                </div>
            </a>
            <div class="arrow"></div>
        </div>
        <div class="fullscreen" title="Ver en pantalla completa">
            <i class="fa fa-arrows fa-rotate-90 hoverable"></i>
        </div>
    </div>
</div>
